<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="activejobs" class="nav-link" [ngClass]="{'active': activePage === 1,'link-dark': activePage != 1}">Active Jobs</a>
      </li>
      <!-- <li>
        <a routerLink="providers" class="nav-link" [ngClass]="{'active': activePage === 2,'link-dark': activePage != 2}">Providers</a>
      </li>
      <li>
        <a routerLink="services" class="nav-link" [ngClass]="{'active': activePage === 3,'link-dark': activePage != 3}">Services</a>
      </li> -->
    </ul>
  </div>
